<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{{ title }}}</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>