.home {
  max-width: 1200px;
  margin: 0 auto;

  .card {
    &__first {
      @include image_title;
      background-image: url('https://media.istockphoto.com/photos/focused-multiracial-corporate-business-team-people-brainstorm-on-picture-id1176842719?k=6&m=1176842719&s=612x612&w=0&h=chvR9cNwZxj_0Ur1B2J9kGvCGl3B7zWSPWby2EAzakY=');
      
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 15px;
        height: 80%;
        
        > h1 {
          @include title;
  
          span {
            color: $main-color;
            font-weight: bold;
          }
        }
  
        .button {
          @include button;
  
          &:hover {
            background-color: $main-color-dark;
          }
        }
      }
    }

    &__second {
      @include image_title;
      background-image: url('https://image.freepik.com/free-photo/skyscraper-view-city-leader-window-frame_1134-1034.jpg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      > h1 {
        @include title;
  
        span {
          color: $main-color;
          font-weight: bold;
        }
      }
  
      .button {
        @include button;
  
        &:hover {
          background-color: $main-color-dark;
        }
      }
    }
  }
}