.job-details {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    > h1 {
      text-align: center;
      color: $third-color;
      margin: 50px 0;
      padding: 1%;
      font-size: 50px;
      background-color: $main-color;
    }
  }

  .organization-info {
    padding: 2%;
    background-color: rgba(0,0,0,0.5);
    color: $color-white;

    h3 {
      text-transform: capitalize;
    }
  }

  .job-info {
    background-color: $second-color;
    color: $third-color;
    padding: 2%;
    margin-bottom: 25px;

    h3 {
      font-size: 36px;
    }
  }

  .members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }
}