@mixin button {
  background-color: $main-color;
  color: $third-color;
  border: none;
  font-size: 24px;
  border-radius: 25px;
  margin: 15px 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 270px;
  padding: 0.5%;
}

@mixin image_title {
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin title {
  color: $color-white;
  width: 610px;
  font-weight: normal;
  padding: 15px;
  background-color: rgba(0,0,0,0.2);
}