.professional-details {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    > h1 {
      text-align: center;
      color: $third-color;
      margin: 50px 0;
      padding: 1%;
      font-size: 50px;
      background-color: $main-color;
    }
  }

  .professional-info {
    &__container {
      padding: 2%;
      background-color: rgba(0,0,0,0.5);
      color: $color-white;
    }

    &__detail {
      margin: 2% 0;
    }

    .strengths-container {
      background-color: $second-color;
      padding: 10px;

      p {
        color: $third-color;
        font-size: 24px;
        font-weight: bold;
      }

      span {
        background-color: $main-color;
        color: $third-color;
        margin: 5px 5px;
        line-height: 40px;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 18px;
      }
    }
  }
}