.professionals {
  max-width: 1200px;
  margin: 0 auto;

  .hero {
    height: 400px;
    background-image: url('https://destinonegocio.com/wp-content/uploads/2015/07/ico-destinonegocio-Aptitudes-Profesionales-istock-getty-images.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > h1 {
      text-align: center;
      color: $third-color;
      margin: 58px 0;
      font-size: 68px;
      background-color: $main-color;
    }
  }

  .search {
    width: 100%;
    text-align: center;

    .primary {
      padding: 10px 0;

      label {
        font-size: 24px;
      }

      input {
        width: 60%;
        font-size: 16px;
        padding-top: 4px;
        margin-right: 5px;
        border: none;
        outline: 0;
        border-bottom: 1px solid $main-color;
      }

      button {
        border: none;
        font-size: 16px;
        border-radius: 4px;
        color: $third-color;
        padding: 5px 10px;
        cursor: pointer;
      }
    }

    button {
      border: none;
      font-size: 20px;
      background-color: $main-color;
      border-radius: 4px;
      color: $third-color;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: $main-color-dark;
      }
    }
  }

  .professionals-per-page {
    display: flex;
    justify-content: center;
    align-items: center;
  
    p {
      font-size: 20px;
    }
  
    .button {
      font-size: 20px;
      border: none;
      padding: 5px 15px;
      margin: 10px 5px;
      background-color: $main-color;
      color: $third-color;
      transition: background-color 0.2s;
      cursor: pointer;
  
      &:hover {
        background-color: $main-color-dark;
      }
    }
  }

  .actual-page {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $second-color;
    margin-bottom: 10px;
  }

  .professionals-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }

  .pages {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    button {
      margin: 0 10px;
      border: none;
      background-color: $main-color;
      color: $color-white;
      font-size: 20px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: $main-color-dark
      }

      &:disabled {
        background-color: $main-color-light;
        cursor: default;
      }
    }
  }
}