@import '_variables.scss';
@import '_mixins.scss';
@import '_home.scss';
@import '_navbar.scss';
@import '_member.scss';
@import '_professional_details.scss';
@import '_professionals.scss';
@import '_professional.scss';
@import '_job_details.scss';
@import '_jobs.scss';
@import '_job.scss';

html, html * {
  box-sizing: border-box; padding: 0; margin: 0;
}

// These are used to ensure the app runs full display
html, body {
  width: 100%;
  height: 100%;
}

// Main body content
main {
  // The main body of the page
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  * {
    -webkit-font-smoothing: antialiased;
  }
  
  // The links for the app all have these main attributes
  a {
    
    &:hover {
      opacity: 0.7;
    }

    &:visited {
      color: inherit;
    }
  }
}